.delete-btn:hover {
    
    cursor: pointer;
    -webkit-animation: Button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.74) both;
    animation: Button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.74) both;
  }
  
  @-webkit-keyframes Button {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(-6px);
      transform: translateZ(-5px) translateY(-2px);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes Button {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateX(50px) translateY(-6px);
      transform: translateZ(-7px) translateY(-2px);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }